target/
.DS_Store
# IDEA
.idea/
/*.iml
# Eclipse
.metadata
.settings/
# Maven wrapper
/.mvn/wrapper/maven-wrapper.jar
/dependency-reduced-pom.xml
# Generic
*~
/GlobalPlatformPro
pom.xml.versionsBackup
