name: Build robot

on:
  push:
    branches:
      - fork
      - next
  pull_request:
    branches:
      - fork
      - next

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        java: [ 8, 11, 17, 21 ]
    name: Java ${{ matrix.java }} build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0 # To make git describe give the intended output
          fetch-tags: true
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
          cache: maven
      - name: Run Maven
        run: ./mvnw initialize && ./mvnw -T1C -B -U verify
      - name: Set SSH key
        if: matrix.java == '8' && github.ref == 'refs/heads/next'
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SSH_KEY }}
      - name: Add known host key
        if: matrix.java == '8' && github.ref == 'refs/heads/next'
        run: ssh-keyscan mvn.javacard.pro >> ~/.ssh/known_hosts
      - name: Deploy package
        if: matrix.java == '8' && github.ref == 'refs/heads/next'
        run: ./mvnw -B deploy
